.gifts-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gifts-header {
  width: 426px;
  margin: 0px auto;
}

.categories {
  display: flex;
  width: 474px;
  justify-content: space-between;
  margin: 20px auto;
}

.category {
  padding: 13px 19px;
}

.category__active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.gifts-grid {
  display: grid;
  width: fit-content;
  margin: -1px auto 0px auto;
  grid-template-columns: repeat(4, 310px);
  grid-template-rows: repeat(3, 342px);
  column-gap: 12px;
  row-gap: 12px;
}
