@media (min-width: 1380px) {
  .hero-wrapper {
    background: url(../assets/png/snow.png) no-repeat center/1440px,
      url(../assets/png/bg-ball.png) no-repeat center/1440px;
  }
}

@media (min-width: 1322px) {
  .about-wrapper {
    padding: 60px 8px;
    background: url(../assets/png/snow.png) no-repeat -55px 0px/108%;
  }

  .about-content {
    margin: 0px auto;
    width: 1276px;
  }

  .about-image {
    margin-left: 100px;
  }

  .about-text {
    width: 426px;
    height: 328px;
    margin: 100px 60px;
    padding: 60px 0px;
  }
}

@media (max-width: 1380px) {
  .hero-wrapper {
    background: url(../assets/png/snow.png) no-repeat center/1244px,
      url(../assets/png/bg-ball.png) no-repeat center/1244px;
  }
}

@media (max-width: 1322px) {
  .about-wrapper {
    padding: 60px 8px;
    background: url(../assets/png/snow.png) no-repeat -55px 0px/108%;
  }

  .about-image {
    margin-left: auto;
    margin-right: 0px;
  }

  .about-text {
    width: 426px;
    height: 328px;
    margin: 100px 60px;
    padding: 60px 0px;
  }
}

@media (max-width: 995px) {
  .about-wrapper {
    background-image: url(../assets/png/snow.png);
    background-size: contain;
  }

  .about-image {
    background-position: center;
  }

  .about-text {
    width: 50%;
    min-width: 376px;
    margin: 0px;
    padding: 105px 60px 0px 60px;
  }
}

@media (max-width: 390px) {
  .hero-wrapper {
    background: url(../assets/png/snow.png) no-repeat 50% 0%/1360px,
      url(../assets/png/bg-ball.png) no-repeat 50% 0%/1360px;
  }
}
