a {
  text-decoration: none;
  color: #181c29;
}

li {
  list-style: none;
}

header {
  width: 1440px;
  margin: 0 auto;
}

.header_wrapper {
  display: flex;
  width: 1276px;
  margin: 12px auto;
}

.wrapper__logo {
  display: flex;
  padding: 8px 20px;
}

.logo-img {
  width: 24px;
  height: 24px;
  background-image: url(/christmas-shop/assets/svg/snowflake.svg);
}

.logo-txt {
  display: flex;
  margin-top: 4px;
  margin-left: 9px;
}

.small-font {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #181c29;
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  justify-content: space-between;
  width: 376px;
}

.menu-item {
  padding: 12px 20px;
}

main {
  width: 1440px;
  margin: 0 auto;
  background-color: #ff4646;
  border-radius: 20px;
}

.hero-wrapper {
  padding: 60px 8px;
  height: 524px;
  background: url(../assets/png/snow.png) no-repeat center/100%,
    url(../assets/png/bg-ball.png) no-repeat center/100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  padding: 60px 0px;
  margin: 0px auto;
  justify-content: center;
}

.white-txt {
  color: white;
  text-align: center;
}

h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}

.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.07rem;
}

.top-caption {
  margin-top: 4px;
  margin-bottom: 0px;
}

.hero-title {
  margin-top: 18px;
  margin-bottom: 10px;
}

.explore {
  width: 235px;
  height: 56px;
  margin: 0px auto;
  border: none;
  border-radius: 20px;
  background-color: #181c29;
}

.bottom-caption {
  margin-top: 15px;
}

.about-wrapper {
  padding: 60px 8px;
}

.about-content {
  display: flex;
  margin: 0px auto;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 1276px;
}

.about-image {
  display: block;
  height: 528px;
  width: 638px;
  border-radius: 20px;
}

footer {
  width: 1440px;
  margin: 0 auto;
}
